@cfCarouselCl: cf_carousel;
.@{cfCarouselCl}{
  position: relative;
  overflow: hidden;
  &_list{
    position: relative;
    display: flex;
    margin: 0px;
    padding: 0px;
    cursor: inherit;
    box-sizing: border-box;
  }
  &_item{
    touch-action: none;
    vertical-align: top;
    text-align: center;
    height: auto;
    box-sizing: border-box;
    &_inner{
      display: inline-block;
    }
    img{
      width: 100%;
      display: block;
    }
  }
  &_single_item{
    width: 100%;
  }
  &_dot{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  &_dot_point{
    display: inline-block;
    zoom: 1;
    span{
      display: block;
      width: .5rem;
      height: .5rem;
      margin: 0 .3rem;
      border-radius: 50%;
      background: #ccc;
    }
    &.cf_dot_point_active{
      span{
        background: #f15440;
      }
    }
  }
}