@cfCarouselCl: rmc_carousel;

.@{cfCarouselCl}{
  position: relative;
  overflow: hidden;
  &_list{
    position: relative;
    display: flex;
    margin: 0px;
    padding: 0px;
    cursor: inherit;
    box-sizing: border-box;
  }
  &_item{
    touch-action: none;
    vertical-align: top;
    text-align: center;
    height: auto;
    box-sizing: border-box;
    &_inner{
      display: inline-block;
    }
    img{
      width: 100%;
      display: block;
    }
  }
  &_single_item{
    width: 100%;
  }
}

.@{cfCarouselCl}_dot {
  display: flex;
  position: absolute;
  height: 0;
  width: 100%;
}

.@{cfCarouselCl}_dot_dots {
  margin-top: -16px;
  justify-content: center;
  align-items: center;
  span{
    flex-grow: 0;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
    &.cfm_dot_point_active {
      background: #f15440;
    }
  }
}

.@{cfCarouselCl}_dot_number {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: -32px;
  span {
    font-size: 14px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    border-radius: 12px;
    padding: 3px 10px;
    margin-inline-end: 12px;
  }
}
